body{
    margin: 0px;
}
.login{
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;

}
.login:hover{
    background-color: skyblue;
    border: 1px solid skyblue;
}
.join{
    border: 1px solid mediumseagreen;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    font-size: 14px;
    color: #ffffff;
}
.join:hover{
    background-color: greenyellow;
    border: 1px solid greenyellow;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    width: 100%;
}
.me-2{
    margin-right: 5px;
}
.me-3{
    margin-right: 10px;
}

.flex-end{
    justify-content: flex-end;
    display: flex;
}
.container{
    width: 100%;
    margin: 0;
    display: flex;
}
a{
    text-decoration: none;
}
.footer{
    width: 100%;
    padding-top: 30px;
    height: auto;
    color: #ffffff;
    background-color: #171430;
}
.footer-top{
    height: auto;
    width: 100%;
}
.footer-about{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.footer-heading{
    width: 100%;
}
.footer-heading h2{
    color: #171430;
    text-align: center;
    font-family: inherit;
    margin-bottom: 0;
    line-height: 1.4;
    text-shadow: 0 5px 10px #767676;

}
.footer-body{
    /*height: 100px;*/
    width: 100%;
}
.footer-body img{
    height: 40px;
    width: 40px;
    margin-right: 7px;
    margin-left: 5px;
    position: relative;
    margin-top: -25px;
}
.footer-body p{
    font-size: 15px;
    text-align: justify;
}

.footer p, ul li{
    font-size: 13px;
    text-align: justify;

}
.foot-about{
    /*height: 300px;*/
    width: 100%;
    /*background-color: white;*/
    display: flex;
    flex-direction: row;
}
.music-about{
    /*height: 300px;*/
    width: 50%;
    display: flex;
    flex-direction: row;
}
.shadi-container{
    /*height: 300px;*/
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.about-comp{
    /*height: 300px;*/
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-you{
    /*height: 300px;*/
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slick-carousel {
    margin: 0 auto;
    width: 1000px;
}

/* The width of each slide */
.slick-slide {
    width: auto;
}

/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
    color: turquoise;
}

/*img {*/
/*width: 200px;*/
/*height: 150px;*/
/*}*/
.carousel .carousel-control-prev-icon {
    /* change fill="currentColor" to %23fff to make it white  */
    background-image: url('data:image/svg+xml,<svg class="bi bi-camera" width="1em" height="1em" viewBox="0 0 20 20" fill="%23fff " xmlns="http://www.w3.org/2000/svg"><path d="M11 7c-1.657 0-4 1.343-4 3a4 4 0 014-4v1z"/><path fill-rule="evenodd" d="M16.333 5h-2.015A5.97 5.97 0 0011 4a5.972 5.972 0 00-3.318 1H3.667C2.747 5 2 5.746 2 6.667v6.666C2 14.253 2.746 15 3.667 15h4.015c.95.632 2.091 1 3.318 1a5.973 5.973 0 003.318-1h2.015c.92 0 1.667-.746 1.667-1.667V6.667C18 5.747 17.254 5 16.333 5zM3.5 7a.5.5 0 100-1 .5.5 0 000 1zm7.5 8a5 5 0 100-10 5 5 0 000 10z" clip-rule="evenodd"/><path d="M4 5a1 1 0 011-1h1a1 1 0 010 2H5a1 1 0 01-1-1z"/></svg>');
}

.carousel .carousel-control-next-icon {
    /* change fill="currentColor" to %23fff to make it white  */
    background-image: url('data:image/svg+xml,<svg class="bi bi-bootstrap-fill" viewBox="0 0 20 20" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.002 2a4 4 0 00-4 4v8a4 4 0 004 4h8a4 4 0 004-4V6a4 4 0 00-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.543-2.11H7.063V14zm1.313-4.875V6.658h1.78c.974 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H8.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H8.375v2.725z" clip-rule="evenodd"/></svg>');
}
.footer-follow{
    width: 100%;
    margin: 0;
    background-color: #171430 !important;
}
.follow-container{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.follow-body1 h4{
    margin-top: 10px;
    color: white;
    text-align: right;
}
.social{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
}
.social li a img{
    height: 25px;
    width: 25px;
}
.follow-body1{
    width: 50%;
}
.follow-body2{
    width: 50%;
}
.follow-body2 p{
    font-size: 14px;
    color: white;
    text-align: left;
}
.footerlogo img{
    margin-top: 10px;
    color: white;
    height: 100px !important;
    width: 100px !important;
    box-shadow: 0 0 15px #fff;
}
.footerlogo{
    background-color: #171430 !important;
}

input[type='reset']{
    width: 5rem;
    justify-self: end;
}
.btn img{
    width: 25px;
    height: 25px;
    /*background-color: white;*/
}
.shadow{
    box-shadow: 0 2px 5px grey;
    display: flex;
}
.fbsign{
    display: flex;
    flex-direction: row;
}
.controls{
    display: flex;
    float: left;
    padding: 8px 12px;
}
.gender{
    display: flex;
    flex-direction: column;
}
/*.modal-backdrop .show {*/
/*opacity: 0 !important;*/
/*}*/
.modal-backdrop.show {
    opacity: 0 !important;
}
.mr-6{
    margin-right: 170px !important;
    margin-top: 70px !important;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}
.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}
.login-color{
    color: #D20200 !important;
}
.me-4{
    margin-right: 40px;
}
.me-5{
    margin-right: 50px;
}
.logo img{
    position: absolute;
    top: -30px;
    /* bottom: -91px; */
    height: 100px;
    object-fit: contain;
    width: 190px;
    filter: drop-shadow(2px 4px 6px black);
}
.logo{
    position: relative;
}

.header-header .container{
    height: 100%;
}
.header-header{
    background-color: #8099E9;
}
.nav-item{
    font-weight: 600;
    padding: 5px 10px ;
    border-radius: 5px;
}
.nav-item:hover{
    background-color: #E99DCB;
}
.dropdown-menu a:hover{
    background-color: #E99DCB !important;
}
.card{
    box-shadow: 0 0 5px grey;
}
.card-read{
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}
.banner-img img{
    width: auto;
    height: 400px;
    padding:10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 40px auto;
    display: flex;
    object-fit: contain;
    box-shadow: 0 0 7px grey;
}
.btn-social{
    border-radius: 8px !important;
}
.btn-social:hover{
    box-shadow: 0 0 5px grey !important;
}
.border-down{
    border-top: 1px solid #dedede;
    margin-top: 10px;
}
.footer-read{
    background-color: #171430 !important;
    width: 100%;
}
.dropdown-item i{
    height: 20px;
    width: 20px;
}
.footer hr{
    margin: 0;
    background-color: #ffffff;
}
.card-outer{
    box-shadow:0 0 15px #b3b3b3;
    width: 95%;
    height: auto;
}
.card-img1 img{
    height: 200px;
    width: 100%;
}
.card-inner p{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.contact-details li{
    text-align: center;
}
.contact-details li i{
    font-size: 2rem;
}
button i, a i{
    color: #ffffff !important;
}
i{
    color: #17a2b8;
}
.container .read img{
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #fff;
}
.music-footer ul li a:hover {
    color: lightgray !important;
}
.music-logo {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
}
.table-inner td img{
    height: 100px;
    width: 100px;
    padding: 5px;
}
table, td, th
{
    border: 1px solid;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #CCC;
}
.container-inner{
    font-weight: 600;
    text-shadow: 0 2px 5px #767676;
}
.add-btn:hover{
    background-color: #E99DCB !important;
}
.add-btn{
    border: none !important;
}
.table-inner td {
    text-align: center;
    border: none;
}
.table-inner th {
    background-color: #17a2b8;
    color: white;
    text-align: center;
    padding: 5px;
    border: 1px solid #CCCCCC;
}
.rating-color{
    color: orange !important;
}
.form-search{
    position: relative;
    text-align: center;
}
.searchbar i{
    position: absolute;
    margin-left: 12px;
}
.input-name{
    padding: 5px 10px;
}
form input.input-name{
    border:1px solid #CCCCCC;
    border-radius: 5px;
    outline: none;
}
form input.input-name:focus,
form input.input-name:hover{
    outline:none;
}
.footer-song{
    position: relative;
    margin-bottom: 0;
}
.vh32{
    min-height: 32vh;
}